<!DOCTYPE html>
<html>
<head>
    <title>yelpcamp basics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>
   <nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
               <a href="/" class="navbar-brand">
                YELPCAMP
            </a>
           </div>
           <div >
               <ul class="nav navbar-nav navbar-right">
                  <%if(!currentUser){%> 
                   <li><a href="/login">login</a></li>
                   <li><a href="/register">signup</a></li>
                  <%} else  {%>
                    <li>logged in as <%= currentUser.username %></li>
                    <li><a href="/logout">logout</a></li>
                  <%}%>
               </ul>

           </div>
       </div>

   </nav>