
<%- include("partials/header") %>
<header class="jumbotron">
    <h3>welcome to yelp camp</h3>
    <p>
        <a href="/campgrounds" class="btn btn-primary btn-large"> click here to visit our campgrounds page </a>
    </p>   
</header>
<%- include("partials/footer") %>

